@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img width="500" height="350" src="https://www.eatthis.com/wp-content/uploads/sites/4/2021/05/chocolate-bars.jpg?quality=82&strip=1" />
    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/he4UT3gk8yE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   
    <p><button onclick="myMove()">Click Me</button></p>

    <div id="container">
        <div id="animate"></div>
    </div>
</div>
